@import "tailwindcss";

@font-face {
	font-family: 'Geist Mono';
	src: url('/fonts/GeistMono-Variable.woff2') format('woff2');
	font-weight: 100 900;
	font-display: swap;
}

html,
body,
#root {
	height: 100%;
	background: #3FD4B6;
}

body {
	margin: 0;
}
